:host {
  margin-left: -5px;
  margin-right: -5px;
  margin-top: -5px;
  display: block;
}
:host {
  md-sidenav {
    width: 200px;
  }
  .mat-drawer-container {
    overflow: visible;
    .mat-sidenav {
      overflow: visible;
    }
  }
  .mat-drawer-content {
    padding: 0;
  }
  @media (min-width: 959px) {
    .mat-drawer-side {
      background-color: transparent;
      box-shadow: none!important;
    }
  }
  .mat-slider-horizontal {
    width: 100%;
    min-width: 1px;
  }
}